<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>393670522643-hhig68pecvhakhpbavk3fgjmvp1lvu0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393670522643-hhig68pecvhakhpbavk3fgjmvp1lvu0j</string>
	<key>API_KEY</key>
	<string>AIzaSyBT_grR6CxajRJM_KTeZCwsPvIOmIN98es</string>
	<key>GCM_SENDER_ID</key>
	<string>393670522643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.votextmedia.wink</string>
	<key>PROJECT_ID</key>
	<string>wink-9acf5</string>
	<key>STORAGE_BUCKET</key>
	<string>wink-9acf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:393670522643:ios:b0e4d11f016aa6ef</string>
	<key>DATABASE_URL</key>
	<string>https://wink-9acf5.firebaseio.com</string>
</dict>
</plist>